.Board {
    background-color: #C3ECFFFF;
    min-height: 1000px;
    width: 100%;
    /*opacity: .100;*/
    display: table;
    clear: both;
}

.Column {
    border-left: 1px solid #8dbcf8;
    border-right: 1px solid #8dbcf8;
    flex-direction: row;
    /*float: left;*/
    display: table-cell;
    width: 33.33%;
    padding: 10px;
}

.Task {
    /*border: 1px solid blue;*/
    display: table;
    width: 100%;
    height: 70px;
    padding: 0;
    margin: 5px 0;
}

.leftTaskButton, .rightTaskButton {
    display: table-cell;
    width: 5%;
    border: 0;
    margin: 0 0;
    height: 100%;
    padding: 0;
}

.innerTaskButton {
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

.TaskInput {
    display: table-cell;
    width: 90%;
    border: 0;
    margin: 0 0;
    height: 100%;
    min-height: 100%;
    padding: 0;
}
.innerTaskInput {
    float: left;
    width: 100%;
    height: 100%;
    min-height: 100%;
    resize: none;
    overflow: hidden;
    padding: 0;
}

.AddButton {
    width: 50px;
    height: 50px;
    margin: 20px auto 0 auto;
    font-size: xxx-large;
    text-align: center;
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    box-sizing: border-box;
}
